<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Chambre</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <div th:include="fragments/navbar.html"></div>

    <div>
      <div class="p-3">
        <div class="card">
          <div class="card-header">Edit Chambre</div>

          <div class="card-body">
            <form method="post" th:action="@{save}">
              <input id="id" type="hidden" name="id" th:value="${chambre.id}" />
              <div class="mb-3">
                <label for="codeChambre"> Code chambre </label>
                <input class="form-control form-input-main" required id="codeChambre" type="text" name="codeChambre" th:value="${chambre.codeChambre}" />
              </div>
              <div class="mb-3">
                <label for="prix">Prix</label>
                <input class="form-control form-input-main" required id="prix" type="number" step="0.01" name="prix" th:value="${chambre.prix}" />
              </div>
              <div class="mb-3">
                <label for="star">Star</label>
                <input class="form-control form-input-main" required id="star" type="number" step="1" max="5" min="1" name="star" th:value="${chambre.star}" />
              </div>

              <button onclick="return confirm('Are You Sure ?')" class="btn btn-primary" type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div th:include="fragments/footer.html"></div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
  </body>
</html>
