<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Suisse Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- Bootstrap JS (optional) -->
    <script src="/bootstrap.min.js"></script>
    <style>
        .hotel-thumbnail{
            width:200px;
            height:200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to Suisse Hotel</h1>
        <p class="lead">Your perfect destination for a luxurious stay.</p>
        <hr class="my-4">
        <p>We provide top-notch hospitality services to make your stay memorable.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Book Now</a>


        <div class="text-center">
            <img src="/images/img.png" class="rounded img-thumbnail hotel-thumbnail"  alt="image">
        </div>

    </div>
</div>
</body>
</html>
